@import url('https://fonts.googleapis.com/css2?family=Modak&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
h1{
 font-family: "Modak", system-ui;
 font-weight: 400;
 font-size: 100px;
 color: #070707;
 
}
h2{
    font-family:"Nunito", sans-serif;
    color: #070707;
    font-size: 50px;
    font-weight:400;
}
.txt-center{
    text-align: center;
}
.btn{
    text-decoration:none;
    background-color:#24F351;
    border-radius:15px;
    padding: 8px;
    color: #070707;
    font-family:"Nunito", sans-serif;
    font-weight: 600;
    border-color: #070707;
    

}